
<div class="flex-container group-paths" >
    <%= link_to "All Players", players_path %> 
    <%= link_to "My Encounters", encounters_path %>
    <%= link_to "Logout", "/welcome" %>
</div>



<h1 class="blink_me">Full Monster List</h1>
<h3>Select a Monster to Learn More</h3>
    <div class="flex-container">
        <% @monsters.each do |monster| %>
            <div class="card monstercard" style="width: 10rem">
                <%= image_tag("Tarrasque.jpg") %>
                <p><%= link_to monster.monster_name, monster, class: "card-link"  %> </p>
            </div>
        <%end%>
    </div>


