<h1><%= @monster.monster_name %></h1>

<ul class="blindcenter">
<p> AC: <%= @monster.armor_class %></p>
<p> HP: <%= @monster.hit_points %></p>
<p> CR: <%= @monster.challenge_rating %></p>
<br>
<p> Type: <%= @monster.monster_type %></p>
<p> Size: <%= @monster.monster_size %></p>
<p> Alignment: <%= @monster.monster_alignment %></p>

<%= link_to "All Monsters", monsters_path %>
</ul>