<h1><%= @monster.monster_name %></h1>

    <div class="grid-container">
        <div class = "item1">
            <%= image_tag("Tarrasque.jpg", :size => "200x200") %>
        </div>
        <div class="item2">
            <div>
                <span>  <strong> AC:</strong> <%= @monster.armor_class %> </span>
                <span> <strong> HP: </strong> <%= @monster.hit_points %> </span>
            </div>
            <div>
                <span> <strong> CR: </strong> <%= @monster.challenge_rating %> </span>
            </div>
            <div>
                <span> <strong> Type: </strong> <%= @monster.monster_type %></span>
                <span> <strong> Size: </strong> <%= @monster.monster_size %></span>
            </div>
            <div>
                <span> <strong> Alignment: </strong> <%= @monster.monster_alignment %></span>
            </div>
        </div>
        <div class="item3">
            <%= link_to "All Monsters", monsters_path %>
        </div>
    </div>

    

    
