<h1><%= @monster.monster_name %></h1>

    <div class="grid-container">
        <div class = "item1">
            <%= image_tag("Tarrasque.jpg", :size => "200x200") %>
        </div>
        <div class="item2">
            <div>
                <span>  AC: <%= @monster.armor_class %> </span>
                <span>  HP: <%= @monster.hit_points %> </span>
            </div>
            <div>
                <span>  CR: <%= @monster.challenge_rating %> </span>
            </div>
            <div>
                <span>Type: <%= @monster.monster_type %></span>
                <span>Size: <%= @monster.monster_size %></span>
            </div>
            <div>
                <span>Alignment: <%= @monster.monster_alignment %></span>
            </div>
        </div>
        <div class="item3">
            <%= link_to "All Monsters", monsters_path %>
        </div>
    </div>

    

    
