<h1>Edit Encounter</h1>

    <div>
        <h5>Current CR: TBA  </h5>
    </div>
    <div>
        <h5>Target Number of Monsters: <%= @encounter[:monster_quantity] %> </h5>
    </div>
    <div>
        <h5>Selected Monsters:</h5>
            <% if(@encounter.monsters) %>
                <ul>
                    <% @encounter.monsters.each do |monster| %>
                        <li>
                            <%= link_to monster.monster_name, monster %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
    </div>

<p>

    <%= form_for(@encounter) do |f| %>
        <h5>Available Monsters:</h5>
        <div>
            <% @monster_list.each do |monster| %>
                <span><br><%= monster.monster_name %></span>
                <%= check_box_tag "monsters[]", monster.id %>  
            <% end %>
        </div>
        
        <%= f.submit "Select Monsters"%>
    <% end %>

</p>







