<h1>Edit Encounter</h1>

    <div>
        Current CR: TBA  
    </div>
    <div>
        Target Number of Monsters: <%= @encounter[:monster_quantity] %>
    </div>
    <div>
        Selected Monsters:
            <% if(@encounter.monsters) %>
                <ul>
                    <% @encounter.monsters.each do |monster| %>
                        <li>
                            <%= link_to monster.monster_name, monster %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
    </div>

<p>

    <%= form_for(@encounter) do |f| %>
        Available Monsters:
        <div>
            <% @monster_list.each do |monster| %>
                <span><%= monster.monster_name %></span>
                <%= check_box_tag "monsters[]", monster.id %>  
            <% end %>
        </div>
        
        <%= f.submit "Select Monsters"%>
    <% end %>

</p>







