

    <div class="flex-container group-paths" >
        <%= link_to "Create an Encounter", new_encounter_path %>
        <%= link_to "All Players", players_path %> 
        <%= link_to "All Monsters", monsters_path %>
        <%= link_to "Logout", "/welcome" %>
    </div>


<h1>Encounters Index</h1>


<div class="grid-container">
    <div class="item1">
        <% @encounters.each do |encounter| %>
            <div>
                <span>
                    The name of this encounter is <%= link_to encounter.name, encounter %>
                </span>
                <span>
                    <%= button_to '⚡️delete', encounter, method: :delete %>
                </span>
            </div>
            
        <% end %>
    </div>
</div>
