<div class="blindcenter">

<%= form_for @player do |p| %>

<%= p.label :name %>
<%= p.text_field :name %>

<%= p.label :player_hp %>
<%= p.select(:player_hp, (1..450))%>


<%= p.label :player_level %>
<%= p.select(:player_level, (1..20))%>

<div id="bigsubmit">
<%= p.submit %>
</div>
<% end %>
</div>