<h1>My name is <%= @player.name  %></h1>

<div class="blindcenter">
<p>HP: <%= @player.player_hp %></p>
<p>Level: <%= @player.player_level %></p>



<%= link_to "Edit My Stats", edit_player_path %> 
<%= link_to "All Players", players_path %>
</div>